# --- CONFIGURACIÓN DE MYSQL ---
MYSQL_ROOT_PASSWORD=your_secure_root_password
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=your_secure_password
# --- CONFIGURACIÓN DE PUERTOS (SOLO DESARROLLO) ---
# Solo necesario para desarrollo, producción usa Traefik
WORDPRESS_PORT=9000
PHPMYADMIN_PORT=9001
# --- CONFIGURACIÓN DE TIMEZONE ---
TIMEZONE=America/Lima
# --- CONFIGURACIÓN DE WORDPRESS ---
WP_TABLE_PREFIX=wp_a4b7_
# --- CONFIGURACIÓN DE DOMINIO ---
# Desarrollo: 1
# Producción: 0
WP_DEBUG=1
WORDPRESS_CONFIG_EXTRA=define('WP_HOME','http://localhost:9000'); define('WP_SITEURL','http://localhost:9000');
# --- CONFIGURACIÓN DE DOMINIO ---
# Desarrollo: localhost
# Producción: tu-dominio.com
DOMAIN_NAME=localhost

# SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=xxxx@yyy.com
SMTP_PASSWORD=clave