# Ignorar el archivo de configuración de WordPress (contiene contraseñas)
wp-config.php

# Ignorar la carpeta de uploads y otros directorios de contenido generado
/wordpress/uploads/
/wordpress/cache/
/wordpress/upgrade/
/wordpress/upgrade-temp-backup/
/wordpress/backups/
/wordpress/debug.log

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db
.env
dev.bat

# Ignorar la carpeta de registros y reglas de Wordfence
/wordpress/wflogs/

# Ignorar los archivos de configuración del Firewall (WAF) en la raíz
/wordfence-waf.php
/.user.ini