# Ignorar el archivo de configuración de WordPress (contiene contraseñas)
wp-config.php

# Ignorar la carpeta de uploads y otros directorios de contenido generado
/code-backups/
/wordpress/uploads/
/wordpress/cache/
/wordpress/upgrade/
/wordpress/mu-plugins/
/wordpress/upgrade-temp-backup/
/code-backups/
/backups/
/wordpress/logs/
/wordpress/plugins/duplicate-page/
/wordpress/plugins/customizer-export-import/
/wordpress/wordfence/
/wordpress/backups/
/wordpress/themes/twentytwentyfive
/wordpress/themes/twentytwentyfour
/wordpress/themes/twentytwentythree

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno específicos
.env
.env.*
!.env.example

# Ignorar la carpeta de registros y reglas de Wordfence
/wordpress/wflogs/

# Ignorar los archivos de configuración del Firewall (WAF) en la raíz
/wordfence-waf.php
/.user.ini